- content_for(:navclass) do
  sticky

#page-header
  .row
    .large-8.large-offset-2.columns
      %h1 404: Page not found

.error-message
  %p Oops. You've reached the end of the internet,<br/>please go back the way you came.