- content_for :navclass do
  sticky

#page-header
  .row
    .large-8.large-offset-2.columns
      %h1 Videos Collection
      %p Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.

%section#updates
  .row
    - @videos.first(10).each do |v|
      .large-6.columns
        .update-item.vimeo(data-vimeo-id="#{v.item_id}")
          .update-meta
            %i.ss-icon.ss-standard video
            %p=v.title
            .time-ago 4 days ago
          .img-wrapper
            %img{:src=>"#{v.image_url}"}
          .video-player