- content_for :navclass do
  sticky

- content_for :bodyclass do
  video

- content_for :page_title do
  Videos collection

#page-header
  .row
    .large-8.large-offset-2.columns
      %h1 Videos

      .filters
        .group
          %h4 Rider
          %ul.filter-list
            %li.active(data-filter="all" data-dimension="gender")
              %a.button{:href=>'#'} All
            %li(data-filter="" data-dimension="gender")
              %a.button{:href=>'#'} Team Vacation
            %li(data-filter="" data-dimension="gender")
              %a.button{:href=>'#'} At Home
            %li(data-filter="" data-dimension="gender")
              %a.button{:href=>'#'} Talking Shop
            %li(data-filter="" data-dimension="gender")
              %a.button{:href=>'#'} Product/Tech

%section#updates
  #videos.row
    - @videos.each do |v|
      .large-6.columns
        .update-item.vimeo(data-vimeo-id="#{v.item_id}")
          .update-meta
            %i.ss-icon.ss-standard video
            %p=v.title
            .time-ago= v.relative_date
          - img_loader do
            = cl_image_tag(v.img, :onload=>'form5image.hasLoaded(this)', :width => 540, :height => 304, :crop => :fill, :alt => v.title)
            / %img{:src=>"#{v.image_url}", :alt => '', :onload=>'form5image.hasLoaded(this)'}
          .video-player.flex-video.vimeo.widescreen

  .row
    .large-4.large-offset-4.columns
      %a.button.load-videos{:href=>'#'} Load more videos
