- content_for :navclass do
  sticky

- content_for :bodyclass do
  video

- content_for :page_title do
  Videos collection

#page-header
  .row
    .large-8.large-offset-2.columns
      %h1= page.title

%section#updates
  #videos.row
    - @videos.each do |v|
      .large-6.columns
        .update-item.vimeo(data-vimeo-id="#{v.item_id}")
          .update-meta
            %i.ss-icon.ss-standard video
            %p=v.title
            .time-ago= v.relative_date
          - img_loader do
            %img{:src=>"#{v.image_url}", :onload=>'form5image.hasLoaded(this)'}
          .video-player.flex-video.vimeo.widescreen

  .row
    .large-4.large-offset-4.columns
      %a.button.load-videos{:href=>'#'} Load more videos
