.row
  %footer
    .large-3.columns
      .footer-logo
      .copyright
        %div
        ©2013 SALOMON SNOWBOARDS AND BONFIRE SNOWBOARDING.
        %br
        ALL RIGHT RESERVED.

    .large-9.columns.footer-right
      .large-4.columns
        .language-selector
          %form.custom
            %select.dropdown.small
              %option English
              %option Spanish
              %option Chinese
      .large-8.columns.footer-links
        .large-2.columns
          %nav
            %h5
              Products
            %ul
              %li
                Boards
              %li
                Bindings
              %li
                Boots
              %li
                Apparel
        .large-2.columns
          %nav
            %h5
              Salomon
            %ul
              %li
                Blog
              %li
                Team
              %li
                About
        .large-2.columns
          %nav
            %h5
              Explore
            %ul
              %li
                Store locator
              %li
                FAQ
        .large-2.columns
          %nav
            %h5
              Stay in touch
            %ul
              %li
                Facebook
              %li
                Twitter
              %li
                Tumblr
              %li
                Instagram
        .large-2.columns
          %nav
            %h5
              Customer Service
            %ul
              %li
                Warranty
              %li
                Contact

        .large-2.columns
          %nav
            %h5
              Terms & Privacy
            %ul
              %li
                Terms
              %li
                Privacy Policy