.row
  %footer
    .large-3.columns
      .footer-logo
      .copyright
        %div
        ©2013 SALOMON SNOWBOARDS AND BONFIRE SNOWBOARDING.
        %br
        ALL RIGHT RESERVED.

    .large-2.columns
      %nav
        %h5 Stay in touch
        %ul.social
          %li
            %a.ss-facebook{} Facebook
          %li
            %a.ss-twitter{} Twitter
          %li
            %a.ss-tumblr{} Tumblr
          %li
            %a.ss-instagram{} Instagram
          %li
            %a.ss-vimeo{} Vimeo
          %li
            %a.ss-youtube{} YouTube

    .large-2.columns
      %nav
        %h5 Salomon
        %ul
          %li
            %a{} Blog
          %li
            %a{} Team
          %li
            %a{} Store locator
          %li
            %a{} FAQ

    .large-2.columns
      %nav
        %h5 Customer service
        %ul
          %li
            %a{} Warranty
          %li
            %a{} Contact
          %li
            %a{} Terms
          %li
            %a{} Privacy policy


    .large-3.columns
      .language-selector
        %h5 Switch language
        %form.custom
          %select.dropdown.small
            %option English
            %option Spanish
            %option Chinese

      .newsletter
        %h5 Signup for our newsletter
        %form.custom
          %input{:type=>'text', :placeholder => 'your@email.address'}
          %input.button{:type=>'submit', :value=>'Go'}