#language-bar
  %ul.right
    %li Change country
    %li.has-dropdown
      %a(data-dropdown='lang-dropdown' data-options='is_hover:true') USA / English
      .f-dropdown#lang-dropdown(data-dropdown-content)
        .inner
          .lang-list
            %h5 North America
            %ul
              %li
                %a{:href=>''} United States
          .lang-list
            %h5 Europe
            %ul
              %li
                %a{:href=>''} Europe (English)
                %a{:href=>''} Deutschland
                %a{:href=>''} ESPAÑA
                %a{:href=>''} France
                %a{:href=>''} Italia
          .lang-list
            %h5 Europe
            %ul
              %li
                %a{:href=>''} Australia
                %a{:href=>''} Japan
                %a{:href=>''} Korea
          .lang-list
            %h5 Other
            %ul
              %li
                %a{:href=>''} English

    %li
      %a.ignore{:href=>'#'} Ignore
  %p Hi there, you seem to be visiting from #{t :region}. Do you want to change the location and language?