.searchbar
  %input.search-input{:type => 'text', :placeholder => 'What are you searching for?'}
  %input{:type => 'submit', :value => 'Submit'}

#nav-container{:class=>yield(:navclass)}
  %nav.top-bar
    %section.top-bar-section
      %ul.title-area
        %li=link_to 'Salomon Snowboards', root_path, class: 'logo'
        %li.toggle-topbar
          %a{:href=>'#'}
            %span Menu
      / Left Nav Section
      %ul.left
        %li.has-dropdown
          %a{:href => "#"} Gear
          %ul.dropdown
            - gear_categories.each do |c|
              %li=link_to c.name,products_url(c.slug)
        %li= link_to 'Team', team_path
        %li
          %a{:href => "products.html"} Videos
        %li
          %a{:href => "products.html"} Blog
        %li
          %a{:href=>'store.html'} Stores

      %ul.right
        %li
          %a.searchbutton{:href => '#'} Search
        %li.basket
          %a{:href => '#'} My Account <i class="ss-icon ss-standard">cart</i> 0
        %li.social.has-dropdown
          %a.ss-icon.ss-social{:href=>'#'} facebook
          .dropdown.facebook
            .dropdown-inner
              .fb-like-box{"data-header" => "true", "data-href" => "https://www.facebook.com/SalomonSnowboardFans", "data-show-border" => "true", "data-show-faces" => "false", "data-stream" => "false", "data-width" => "292"}

        %li.social
          %a.ss-icon.ss-social{:href=>'http://instagram.com/salomonsnowboards'} instagram

        %li.social.has-dropdown
          %a.ss-icon.ss-social{:href=>''} twitter
          .dropdown.twitter
            .dropdown-inner
              %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/salomonboarduk"} Follow @salomonboarduk
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        %li.social.has-dropdown
          %a.ss-icon.ss-social{:href=>'#'} pinterest
          .dropdown.pinterest
            .dropdown-inner
              %a{"data-pin-do" => "buttonFollow", :href => "http://pinterest.com/salomonsnow/"} Salomon Snowboards