.searchbar
  %input.search-input{:type => 'text', :placeholder => 'What are you searching for?'}
  %input{:type => 'submit', :value => 'Submit'}

#nav-container{:class=>yield(:navclass)}
  %nav.top-bar
    %section.top-bar-section
      %ul.title-area
        %li=link_to 'Salomon Snowboards', root_path, class: 'logo'
        %li.toggle-topbar
          %a{:href=>'#'}
            %span Menu
      / Left Nav Section
      %ul.left
        %li.has-dropdown
          %a{:href => "#"} Gear
          %ul.dropdown
            - gear_categories.each do |c|
              %li=link_to c.name,products_url(c.slug)
        %li= link_to 'Team', team_path
        %li
          %a{:href => "products.html"} Videos
        %li
          %a{:href => "products.html"} Blog
        %li
          %a{:href=>'store.html'} Stores

      %ul.right
        %li
          %a.searchbutton{:href => '#'} Search
        %li.basket
          %a{:href => '#'} My Account <i class="ss-icon ss-standard">cart</i> 0
        %li.social.has-dropdown
          %a.ss-icon.ss-social{:href=>'#'} facebook
        %li.social
          %a.ss-icon.ss-social{:href=>'#'} instagram
        %li.social
          %a.ss-icon.ss-social{:href=>'#'} twitter
        %li.social
          %a.ss-icon.ss-social{:href=>'#'} pinterest