.product-assets
  .large-4.medium-12.middle-4.columns
    - unless product.team_members.empty?
      %h2 Riders
      %ul.riders
        - product.team_members.each do |tm|
          %li{set_text_length_class(tm.name, 14)}
            =link_to(tm.name, tm)
  .large-8.medium-12.middle-8.columns.product-gallery
    - unless product.assets.empty?
      %h2 Gallery
      %ul.large-block-grid-4
        - product.assets.each do |asset|
          %li{set_asset_type(asset.type)}
            %a.html5lightbox{set_lightbox_href(asset)}
              = cl_image_tag asset.img, :width => 180, :height => 180, :crop => 'fill', :onload => 'form5image.hasLoaded(this)', :alt => asset.title
