%section.panel.gray
  .row
    .large-8.columns
      %h2 Gallery
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
      .large-3.columns
        %img{:src=>'http://placehold.it/180x180'}
        .more-images
          %a{:href => '#'}
            %div
              %span 7 more images
    .large-3.columns.large-offset-1
      %h2 Riders
      %ul.riders
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li Takaharu Nakai
        %li 5 other riders