%ul.tech-list
  -list.each do |feature_name, features|
    %li
      %a.expand{:href=>'#'} &#x002B;
      %span=feature_name
      %span=truncate((features.map(&:name)).join(", "), length: 35)
      %ul.more
        - features.each do |feature|
          - if feature.description
            %li
              %h5=feature.name
              %p=feature.description