%ul.tech-list
  -list.each do |feature_name, features|
    %li
      %a.expand{:href=>'#'} &#x002B;
      %span
        %b=feature_name
        =(features.map(&:name)).join(", ")
      %ul.more
        - features.each do |feature|
          - if feature.description
            %li
              %h5=feature.name
              %p=feature.description