%section.panel#tech
  .row
    %h2 Technology
    - list1, list2 = product.features_by_type.in_groups_of(product.features_by_type.count/2)
    .large-6.columns
      = render :partial => 'tech_feature_list', :locals => { :list =>list1 }
    .large-6.columns
      = render :partial => 'tech_feature_list', :locals => { :list =>list2 }

  - if product.is_snowboard?
    .row.sizes
      %h2 Sizing information
      %section-container-tabs(data-section="tabs")
        - product.product_variants.each do |variant|
          %section
            .title(data-section-title)
              %a{:href=>'#'}=variant.size
            .content(data-section-content)
              .row
                .large-4.columns
                  %ul.tech-stats
                    -variant.tech_specifications.each do |spec|
                      %li
                        %span=spec.tech_definition_name
                        %span=spec.value
                .large-8.columns
                  .technical-drawing
                    .technical-value
                      636
                    = image_tag('board.png')
                    .technical-demonstration
                      .technical-indicator