- content_for :bodyclass do
  subpage

- content_for :navclass do
  sticky

%section#breadcrumbs
  %ul
    %li Your Location
    %li
      %a{:href=>'#'} Boots
    %li
      %a{:href=>'#'} Launch

%section#filterbar
  %form.custom
    .row
      .large-3.columns
        %h4 Rider
        %ul
          %li.filter(data-filter="men")
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Men
          %li.filter(data-filter="women")
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Women
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Youth
      .large-3.columns
        %h4 Terrain
        %ul
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              All Mountain
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Park & Freestyle
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Backyard
      .large-3.columns

        %h4 Camber
        %ul
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Pres-Sure Rocker
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Pow Rocker
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Super Flat
      .large-3.columns
        %h4 &nbsp;
        %ul
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Rock Out Camber
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Cross Profile
          %li
            %label(for="men-checkbox")
              %input#men-checkbox.hidden-field{:type=>'checkbox'}
              %span.custom.checkbox
              Camber

%section#main
  .row
    #product-list
      -@products.each do |product|
        .large-3.columns.mix.men
          .product
            .main-info.img-zoom-hover
              = cl_image_tag product.master_image,  :width => 200, :crop => :fit
              %h2
                = link_to product.name, product_show_path(params[:category],product.slug)
              .price=product.price
            .more-info
              -product.product_features.each do |feature|
                .feature
                - if feature.product_feature_type_show_in_category_overview
                    %h5=feature.product_feature_type_name
                    %span=feature.name

      .large-3.columns
        .product.last
          %h2
            You've reached
            %br
            the last
            %br
            product

          .message Donec sed odio dui. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo.
          %ul.links
            %li
              %a Modify filters
            %li
              %a Clear filters
            %li
              %a Back to front page