- content_for(:bodyclass) do
  team
%section#the-pros
  .row
    - @team_categories.each do |c|
      %h2= c.name
      - c.team_members.each do |tm|
        = link_to tm.name, team_member_path(tm.slug)
  .row
    %h2 Pros
    .team-members
      .row
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
      .row
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
      .row
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
%section#the-ams
  .row
    %h2 Ams
    .team-members
      .row
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
      .row
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
        .large-3.columns.end
          .team-member
            .team-member-info
              %h2 Takaharu Nakai
              .team-member-country Japan
            %img{:src=>'http://placekitten.com/g/280/280'}
