%section#hero
  #play-overlay
    = image_tag('fixme-slayboredom-video.png')
  %video{:autoplay=>'true', :loop=>'loop', :muted => 'muted'}
    %source{:src=>'http://pdl.vimeocdn.com/23508/662/183828595.mp4?aktimeoffset=0&aksessionid=04d0097e599a986b805a08cdbe5a80a0&token=1376685779_cac12c39d8adad381e3ca8541243a201', :type=>'video/mp4'}