%section#hero

  #video-controls
    %a#volume-control{:href=>'#'}
  %video{:autoplay=>'true', :loop=>'loop', :muted => 'muted'}
    %source{:src=>'http://pdl.vimeocdn.com/30447/812/177689239.mp4?aksessionid=ae6f3a1e5a7124d7da8343a5e0aa5e55&token=1376682212_ffe013dd8fb587336628e602f3bd252c', :type=>'video/mp4'}