- banner 'home-hero' do |b|
  - if mobile_device?
    %section#hero-mobile.flex-video.vimeo.widescreen
      %iframe{ :src => "//player.vimeo.com/video/#{b.video.split('/').slice(-1)}?color=00a4d1&amp;autoplay=1&title=0&byline=0", :webkitallowfullscreen => '', :mozallowfullscreen => '' ,:allowfullscreen => ''}
  - else
    %section#hero.has-video{'data-video' => b.video , :style => "background-image: url(#{cl_image_path(b.image)})"}
      #play-overlay
        -#= image_tag('layout/hero_video_overlay.png', :alt => 'Play video')
        %empty{:style =>'height: 350px;width:200px;display:block'}
        %a.button{:href=>'#'} Click to play
      %video.ambient{:autoplay=>'', :loop=>'loop', :muted => 'muted'}
        -# = image_tag('hero/freestyle_arsenal.jpg', :alt => 'Play video')
        -# %source{:src=>'http://vimeo.com/73305457/download?t=1377699115&v=186168904&s=31a2c503c0e8ff66330fd3173c4564a8', :type=>'video/mp4'}/
        -# %source{:src=>'http://a2.form5.is/assets/hero-ambient-video-cropped.ogv', :type=>'video/ogg'}/