%section#hero
  .row
    .hero-text
      %h2
        %div Hologram bindings
        %div featuring
        %div shadow fit
      .price
        From $39.95
      %a{:href => 'product.html', :class => 'button large-button'}
        View product