%section#newsletter
  .row
    .large-5.columns
      .call-out

        %h3 Subscribe, stay connected & save

        %form.email-subscription
          %div
            %input#email-input.large-input{:type => 'text',:placeholder => 'E-mail Address'}
          %div
            %input.button.small-button{:type => 'submit', :value => 'Submit'}

    .large-4.columns.large-offset-3
      %h3 Stay connected
      %ul
        %li
          %a{:class=>'facebook', :href => 'https://www.facebook.com/SalomonSnowboardFans', :target=>'_blank'}
            %span Facebook
        %li
          %a{:class=>'twitter', :href => 'https://twitter.com/Salomonsnow', :target=>'_blank'}
            %span Twitter
        %li
          %a{:class=>'tumblr', :href => '#', :target=>'_blank'}
            %span Tumblr
        %li
          %a{:class=>'instagram', :href => 'http://instagram.com/salomonsnowboards', :target=>'_blank'}
            %span Instagram