%section#product-feature
  //= image_tag 'frontpage/slay-boredom.png', :class => 'boredom'
  .row
    .large-6.columns.large.feature-image
      = image_tag('fixme-new-product.jpg')
    .large-6.columns.large.feature-text
      %h2 ASSASSIN
      =image_tag 'layout/New.png', :class=>'new-logo'
      %h3 QUIVER KILLER

      %p
        A cross between our most progressive powder and freestyle board constructions, featuring ABC Green Roll, EQ Rad, Rock Out Camber, and Popster Booster, in one ride-anything package. The Assassin is built with an arsenal of technology for destruction of anything in its path. One board to rule them all.
      =link_to "More information", '/gear/snowboards/assassin' , :class => 'button'
