%section#product-feature
  .row
    .large-4.columns.large-offset-1
      = image_tag('fixme-new-product.png')
    .large-5.columns.large-offset-1.end
      %h2 Lorem Ipsum
      %h3 Boards
      %p
        A cross between our most progressive powder and freestyle board constructions, featuring ABC Green Roll, EQ Rad, Rock Out Camber, and Popster Booster, in one ride-anything package. The Assassin is built with an arsenal of technology for destruction of anything in its path. One board to rule them all.
      %a.button{:href=>'products.html'} Shop Boards