%section#the-team
  .row
    .large-12.columns
      %h2 The team

      .team-members
        %ul.large-block-grid-4
          - team_members.each do |tm|
            %li
              .team-member.img-zoom-hover
                .team-member-info
                  %h2
                    =link_to(tm.name, team_member_path(:team_member => tm.slug))
                  .team-member-country= tm.country
                = cl_image_tag(tm.thumb_image, :width => 285, :height => 285, :alt => tm.name, :crop => 'fit', :alt => tm.name)
      = link_to('See the full team', team_path, :class =>'button')
