%section#updates
  .row
    %h2 Updates

    // Vimeo column
    .large-6.columns
      .update-item.video
        .update-meta
          %i.ss-icon.ss-standard video
          %p At Home with Chris Grenier
          .time-ago 4 days ago
        .update-item-image
          = image_tag('frontpage/fixme-updates-1.png')

    // Facebook column
    .large-3.columns
      .update-item.facebook
        .update-meta
          %i.ss-icon.ss-social facebook
          .time-ago 4 days ago

        %img{:src=>'http://placekitten.com/100/100'}
        %p It’s all about just following your heart and simply doing what you love. Don’t listen to anyone who…

      .update-item.facebook
        .update-meta
          %i.ss-icon.ss-social facebook
          .time-ago 4 days ago
        %img{:src=>'http://placekitten.com/100/100'}
        %p It’s all about just following your heart and simply doing what you love. Don’t listen to anyone who…

    // Instagram column
    .large-3.columns
      .update-item.instagram
        .update-meta
          %i.ss-icon.ss-social instagram
          .time-ago 4 days ago
        %p Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus...
        = image_tag('frontpage/fixme-updates-2.jpg')