ul.tech-list {
  list-style: none;

  & > li {
    display: inline-block;
    width: 100%;

    margin-bottom: 4px;
    margin-right: 1%;

    padding: 10px;

    background-color: #023A4A;

    font-size: 24px;
    text-transform: uppercase;

    cursor: pointer;

    a.expand {
      font-family: "SSStandard";
      display: inline-block;
      width: 40px;
      height: 40px;

      border-radius: 50%;
      background-color: #fff;

      font-size: 16px;
      color: $color-darkblue;
      line-height: 45px;
      text-align: center;
    }

    span:first-of-type {
      font-family: $font-boldobl;
      color: #fff;
    }

    span:last-of-type {
      font-family: $font-boldcnd20;
      color: $color-lightblue;
    }

    &.expanded {
      background-color: white;

      a.expand {
        background-color: $color-darkblue;
        color: white;
      }

      span:first-of-type {
        color: $color-darkblue;
      }

      ul.more {
        display: block;
      }
    }


  }

  ul.more {
    display: none;

    margin: 10px;
    background-color: white;

    li {
      display: inline-block;
      width: 100%;

      padding: 20px;
      border: 1px #E9E9EA solid;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }

      h5 {
        font-size: 18px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        font-family: $font-light;
        text-transform: none;
      }
    }

  }
}


#sizing-info {
  ul.tabs {
    list-style: none;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      width: 80px;

      &.selected {
        a.button {
          background-color: $color-lightblue;
        }
        &.loading {
          &:after {
            content: '';
            position: absolute;
            top: -18px; right: 0; bottom: 0; left: -5px;
            margin: auto;
            height: 32px;
            width: 24px;

            font-family: "SSStandard";
            font-size: 24px;
            content: "\EB83";

            color: #00637F;
            z-index: 999999;
            @include spin;
          }
          a { color: $color-lightblue; }
        }
      }

      a.button {
        background-color: $color-mediumblue;
      }
    }
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }

  }

  ul.tech-stats {
    -webkit-column-count:3;
       -moz-column-count:3;
         ms-column-count:3;
            column-count:3;

    font-family: $font-boldcnd20;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;
    list-style: none;
    li {
      span {
        &:first-child {
          display: inline-block;
          width: 190px;
        }
      }
    }
  }
}
