
.show-more {
  display: none;
}

@include respond-to(medium) {
  .tech-list-wrap {
    + .tech-list-wrap ul.tech-list {
      display: none;
    }

    &.expanded ul.tech-list,
    &.expanded + .tech-list-wrap ul.tech-list {
      display: block;
    }

    .show-more {
      display: block;
      width: 100%;

      background-color: $color-mediumblue;

      &:hover {
        background-color: $color-lightblue;
      }
    }
  }
}
ul.tech-list {
  list-style: none;

  @include respond-to(small) { margin-bottom: 0; }

  & > li {
    display: inline-block;
    width: 100%;
    position: relative;

    margin-bottom: 4px;
    margin-right: 1%;

    padding: 10px;

    background-color: #023A4A;

    font-size: 24px;
    text-transform: uppercase;

    cursor: pointer;

    a.expand {
      font-family: "SSStandard";
      display: block;
      width: 40px;
      height: 40px;

      position: absolute;
      top: 10px;
      left: 10px;

      border-radius: 50%;
      background-color: #fff;

      font-size: 16px;
      color: $color-darkblue;
      line-height: 45px;
      text-align: center;
    }

    span {
      padding-left: 50px;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      font-family: $font-boldcnd20;
      color: $color-lightblue;

      b {
        color: #fff;
        font-weight: normal;
      }
    }

    &.expanded {
      background-color: white;

      a.expand {
        background-color: $color-darkblue;
        color: white;
      }

      span {
        color: $color-darkblue;
        b {
          color: $color-darkblue;
        }
      }

      ul.more {
        // display: block;
      }
    }


  }

  ul.more {
    display: none;

    margin: 10px;
    background-color: white;

    li {
      display: inline-block;
      width: 100%;

      padding: 20px;
      border: 1px #E9E9EA solid;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }

      h5 {
        font-size: 18px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        font-family: $font-light;
        text-transform: none;
      }
    }

  }
}


#sizing-info {
  ul.tabs {
    list-style: none;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      width: 80px;

      &.selected {
        a.button {
          background-color: $color-lightblue;
        }
        &.loading {
          &:after {
            content: '';
            position: absolute;
            top: -18px; right: 0; bottom: 0; left: -5px;
            margin: auto;
            height: 32px;
            width: 24px;

            font-family: "SSStandard";
            font-size: 24px;
            content: "\EB83";

            color: #00637F;
            z-index: 999999;
            @include spin;
          }
          a { color: $color-lightblue; }
        }
      }

      a.button {
        background-color: $color-mediumblue;
      }
    }
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }


    @include respond-to(small) {
      &.mobile-inactive {
        display: none;
      }
    }

  }

  ul.tech-stats {
    -webkit-column-count:3;
       -moz-column-count:3;
         ms-column-count:3;
            column-count:3;
    @include respond-to(middle) {
      -webkit-column-count:2;
         -moz-column-count:2;
           ms-column-count:2;
              column-count:2;
    }
    @include respond-to(small) {
      -webkit-column-count:1;
         -moz-column-count:1;
           ms-column-count:1;
              column-count:1;
    }

    font-family: $font-boldcnd20;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;
    list-style: none;
    li {
      padding: 0 10px;
      span {
        &:last-child {
          float: right;
          // display: inline-block;
          // width: 90%;
        }
      }
    }
  }
}
