/* General */
section#breadcrumbs {
  position: fixed;
  top: 60px;

  @include respond-to(small) { position: relative; }
  @include respond-to(medium) { position: relative; }

  z-index: 1019;

  width: 100%;
  height: 60px;

  padding-left: 20px;

  background: rgba(0, 50, 64, 0.9);

  text-transform: uppercase;

  @include transition(top 0.25s ease-in-out);

  ul {
    list-style: none;

    li {
      display: inline;
      line-height: 60px;

      font-family: "Trade Gothic W01 Bold";
      font-size: 18px;
      color: white;

      &:first-child {
        position: relative;
        top: -1px;
        margin-right: 24px;
        font-family: "TradeGothicW01-BoldCn20 675337";
        color: #fff;
        font-size: 14px;
      }

      &:nth-child(n+3) {
        &:before {
          position: relative;
          top: -2px;
          font-family: "SSStandard";
          font-size: 8px;
          content: "\25BB";
          margin: 0 1em;
          color: #fff;
          line-height: 60px;
        }
      }
    }

  }
}
