section#filterbar {

  @include clearfix();

  position: relative;
  top: 60px;
  width: 100%;

  background-color: $color-darkblue;

  color: white;

  .filter-text {
    text-align: center;
    color: white;

    h1 {
      color: white;
      font-family: $font-heading;
      font-size: 64px;
      line-height: 72px;
      margin-bottom: 30px;
      margin-top: 60px;
    }

    p {
      font-size: 14px;
      font-family: $font-light;
      line-height: 20px;
    }

  }

  h4 {
    font-size: 24px;
    font-family: $font-heading;
    margin-bottom: 10px;
    color: white;
  }

  ul {
    list-style: none;

    li {
      display: inline;
      padding: 10px 0;
    }
  }

  .filters {
    @include clearfix();

    max-width: emCalc(1300);
    margin: 0 auto;
    text-align: center;

    .group {
      display: inline-block;
      margin: 0 20px;
    }
  }


  .button {
    width: 60px;
    height: 30px;

    text-align: center;
    vertical-align: middle;
    background-color: #00637F;
    padding: 8px 0 10px 0;

    font-size: 14px;

    @include transition(all 0.1s ease-in-out);

    &:hover {
      height: 40px;
      padding-top: 12px;
    }

    &.long {
      padding-top: 3px;
      font-size: 12px;

      &:hover {
        padding-top: 8px;
      }
    }
  }

  .active .button {
    height: 40px;
    padding-top: 12px;
    background-color: $color-lightblue;
  }

}