footer {
  margin-top: 60px;

  .footer-slogan {
    margin-bottom: 60px;
    border-top: 2px $color-darkblue solid;

    img {
      position:absolute;
      left: 0;
      right: 0;
      top: -30px;
      margin: 0 auto;
      width: 221px;
      height: 60px;
      background-color: white;
      padding: 0 20px;
    }

  }

  .footer-logo {
    width: 136px;
    height: 40px;
    margin-bottom: 20px;
    background: url(image-path('layout/salomon_snowboards-logo-dark@2x.png')) 0 0 no-repeat;
    background-size: 136px 40px;
    @include respond-to(medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .copyright {
    font-family:'Trade Gothic W01 Roman', helvetica, arial, sans-serif;
    color: #9b9b9b;
    font-size: 9px;
    line-height: 15px;
    max-width: 180px;

    @include respond-to(medium) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  h5 {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  nav {
    float: left;
    display: inline-block;
    font-size: 14px;

    ul {
      display: inline-block;
      list-style: none;

      li {
        font-size: 12px;
        line-height: 30px;

        a {
          color: $color-darkblue;

          &[class^="ss-"]:before {
            position: relative;
            top: 2px;

            margin-right: 7px;

            font-size: 16px;
          }
        }
      }
    }
  }
  .newsletter {
    input[type="text"] {
      float: left;
      width: 80%;
      height: 40px;
      margin-right: 5%;
    }
    input.button {
      float: left;
      width: 15%;
      height: 40px;
      margin: 0 auto;
      padding: 0;
    }
  }

  .newsletter-subhead {
    font-family:'Trade Gothic W01 Roman', helvetica, arial, sans-serif;
    color: #9b9b9b;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
  }

  .collapseable {
    float: none;
    display: block;

    h5:before {
      @extend .ss-icon.ss-standard;
      color: $color-borders;
    }
    @include respond-to(medium) {
      text-align: center;

      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-borders;

      + .collapseable {
        border-top: 0;
      }

      h5 {
        cursor: pointer;

        &:before {
          content: '\25B9';
          padding-right: 10px;
        }
      }

      &.open {
        h5 {

          &:before {
            content: '\25BE';
          }
        }
      }
    }
  }

.footer-language-chooser {

  a.button {
    display: block;
    line-height: 15px;
    &:after {
      display: inline-block;
      content: '\1F30E';
      font-family: $icon-font;
      color: #fff;
      margin-left: 5px;
      line-height: 10px;
    }
  }
}

}
