footer {

  margin-top: 80px;

  .footer-logo {
    width: 279px;
    height: 81px;
    margin-bottom: 20px;
    background: url(image-path('fixme-footer-logo.png'));
  }

  .copyright {
    font-family:'Trade Gothic W01 Cn 18';
    font-size: 12px;
    line-height: 30px;
  }

  .language-selector form.custom .custom.dropdown.small {
    max-width: 190px;

    .current {
      font-family:'Trade Gothic W01 Light';
      font-size: 14px;
      color: #9B9B9B;
      text-transform: uppercase;
    }
  }

  .footer-right > .columns {
    border-top: 3px solid #003240;

    &:first-child {
      padding-top: 20px;
      padding-left: 0;
    }

    &:nth-child(2) {
      padding-top: 10px;
    }
  }

  .footer-links {
    font-size: 14px;

    nav {
      float: left;
      display: inline-block;
    }

    ul {
      display: inline-block;
      list-style: none;

      li {
        font-size: 12px;
        line-height: 30px;
      }
    }

    h5 {
      margin: 0;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;
    }

  }
}