footer {

  margin-top: 80px;

  .footer-logo {
    width: 279px;
    height: 81px;
    margin-bottom: 20px;
    background: url(image-path('layout/salomon-snowboards-logo@2x.png')) 0 0 no-repeat;
    background-size: 180px 53px;
  }

  .copyright {
    font-family:'Trade Gothic W01 Cn 18';
    font-size: 12px;
    line-height: 30px;
    max-width: 180px;
  }

  .language-selector form.custom .custom.dropdown.small {
    max-width: 190px;

    .current {
      font-family:'Trade Gothic W01 Light';
      font-size: 14px;
      color: #9B9B9B;
      text-transform: uppercase;
    }
  }

  h5 {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  nav {
    float: left;
    display: inline-block;

    ul {
      display: inline-block;
      list-style: none;

      li {
        font-size: 12px;
        line-height: 30px;

        a {
          color: $color-darkblue;

          &[class^="ss-"]:before {
            position: relative;
            top: 2px;

            margin-right: 7px;

            font-size: 16px;
          }
        }


      }
    }

    font-size: 14px;
  }
}