.img-wrapper {
  position: relative;
  height: 100%;

  img {
    opacity: 0;

    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
  }

  &:before {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &.loaded {
    .loader { display: none; }
    img {
      opacity: 1;
    }
  }
}

.loader{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  opacity: .3;

  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}
.loader .half{
  position: absolute;
  width: 24px;
  height: 48px;
  top: 0;
  overflow: hidden;
}

.loader .left{
  left: 0px;

  -webkit-border-radius: 999px 0 0 999px;
  -moz-border-radius: 999px 0 0 999px;
  border-radius: 999px 0 0 999px;
}

.loader .right{
  left: 24px;

  -webkit-border-radius: 0 999px 999px 0;
  -moz-border-radius: 0 999px 999px 0;
  border-radius: 0 999px 999px 0;
}

.loader .band{
  position: absolute;
  width: 48px;
  height: 48px;
  background: #00A4D1;

  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;

  -webkit-animation: cssSpinnerRight 1s infinite linear;
  -moz-animation: cssSpinnerRight 1s infinite linear;
}

.loader .left .band{
  left: 0;
  border-left: 24px solid #fafafa;

  -webkit-animation: cssSpinnerLeft 1s infinite linear;
  -moz-animation: cssSpinnerLeft 1s infinite linear;
}

.loader .right .band{
  right: 0;
  border-right: 24px solid #fafafa;
}

@-webkit-keyframes cssSpinnerLeft{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(0deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(180deg)}
  100%{-webkit-transform:rotate(360deg)}
}

@-webkit-keyframes cssSpinnerRight{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(180deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(360deg)}
  100%{-webkit-transform:rotate(360deg)}
}

@-moz-keyframes cssSpinnerLeft{
  0%{-moz-transform:rotate(0deg)}
  25%{-moz-transform:rotate(0deg)}
  50%{-moz-transform:rotate(180deg)}
  75%{-moz-transform:rotate(180deg)}
  100%{-moz-transform:rotate(360deg)}
}

@-moz-keyframes cssSpinnerRight{
  0%{-moz-transform:rotate(0deg)}
  25%{-moz-transform:rotate(180deg)}
  50%{-moz-transform:rotate(180deg)}
  75%{-moz-transform:rotate(360deg)}
  100%{-moz-transform:rotate(360deg)}
}
