section#product-feature {

  .feature-text {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    height: 285px;
    margin: auto;
    @include respond-to(medium) {
      position: static;
      top: auto; right: auto; bottom: auto;
      height: auto;
    }
  }

  position: relative;

  //padding-top: 120px;
  //border-top: 3px $color-darkblue solid;

  padding-bottom: 0;

  img {
    display: block;
    margin: 0 auto;

    @include respond-to(medium) { margin-bottom: 20px; }
  }

  img.boredom {
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
  }

  img.new-logo {
    float: left;
    margin-left: 20px;

    @include respond-to(small) {
      width: 60px;
      margin-bottom: 0;
    }
  }

  h3 {
    clear: both;
    font-family: $font-boldcnd20obl;
    font-size: 24px;
    color: $color-darkblue;
    margin: 0;
    text-transform: uppercase;
    line-height:68px;

    @include respond-to(small) {
      line-height: 30px;
    }
  }
  h2 {
    float: left;
    @include font-heading();
    font-size: 96px;
    color: $color-lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 48px;

    @include respond-to(small) {
      margin-top: 0;
      text-align: center;
      font-size: 60px;
    }
  }
  p {
    font-family: $font-light;
    font-size: 16px;
    line-height: 26px;
    color: #000;
  }
}
