section#product-feature {
  position: relative;

  //padding-top: 120px;
  //border-top: 3px $color-darkblue solid;

  padding-bottom: 0;

  img {
    display: block;
    margin: 0 auto;

    @include respond-to(medium) { margin-bottom: 20px; }
  }

  img.boredom {
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
  }

  img.new-logo {
    float: left;
    margin-left: 20px;
  }

  h3 {
    clear: both;
    font-family: $font-boldcnd20obl;
    font-size: 24px;
    color: $color-darkblue;
    margin: 0;
    text-transform: uppercase;
    line-height:68px;
  }
  h2 {
    float: left;
    @include font-heading();
    font-size: 96px;
    color: $color-lightblue;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 48px;
  }
  p {
    font-family: $font-light;
    font-size: 16px;
    line-height: 26px;
    color: #000;
  }
}
