section#product-feature {
  position: relative;

  padding-top: 120px;
  border-top: 3px $color-darkblue solid;

  img.boredom {
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  h2 {
    font-family: $font-boldcnd20obl;
    font-size: 24px;
    color: $color-darkblue;
    margin: 0;
    text-transform: uppercase;
  }
  h3 {
    font-family: $font-heading;
    font-size: 96px;
    color: $color-lightblue;
    margin-top: 30px;
    line-height: 48px;
  }
  p {
    font-family: $font-light;
    font-size: 16px;
    line-height: 26px;
    color: #000;
  }
}