section#the-team {
  @extend .team;

  h2 {
    font-family: $font-boldcnd20obl;
    text-transform: uppercase;
  }

  a.button {
    display:block;
    width: 100%;
    height: 60px;

    margin: 0;
    padding: 0;

    background-color: $color-darkblue;

    font-size: 18px;
    line-height: 60px;

    &:hover {
      background-color: $color-lightblue;
    }
  }

  .see-more {
    @include font-heading();
    font-size: 46px;

    .full-team {
      font-family: $font-boldcnd20obl;
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 40px;
      a {
        position: relative;
        top: -5px;
        display: inline-block;
        color: $color-darkblue;
        border-bottom: 2px solid $color-darkblue;
      }
      &:before {
        content: '+';
        display: inline-block;
        width: 32px;
        height: 32px;
        color: #fff;
        margin-right: 10px;
        font-family: SSStandard;
        text-align: center;
        line-height: 38px;
        background: $color-darkblue;
      }
    }
  }
}
