section#the-team {

  h2 {
    font-family: $font-boldcnd20obl;
    text-transform: uppercase;
  }

  a.button {
    display:block;
    width: 100%;
    height: 60px;

    margin: 0;
    padding: 0;

    background-color: $color-darkblue;

    font-size: 18px;
    line-height: 60px;

    &:hover {
      background-color: $color-lightblue;
    }
  }

  .team-members li {
    cursor: pointer;
  }

  img {
    display: inline-block;
  }
  .row + .row {
    margin-top: 25px;
  }
  .team-member {
    position: relative;
    color: #fff;
    z-index: 1;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-darkblue;

      opacity: 0.5;
      z-index: 999;

      @include transition(opacity 0.2s ease-in-out);
    }

    &:hover:before {
      opacity: 0;
    }

    .team-member-info {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 20px;
      z-index: 9999;
      h2 {
          a {
            color: #fff;
          }
        @include font-heading();
        font-size: 46px;
        color: #fff;
        margin: 17px 0 10px;
        line-height: 46px;
      }
      .team-member-country {
        font-family: $font-obl;
        font-size: 24px;
        letter-spacing: -1.2px;
      }
    }
  }
  .see-more {
    @include font-heading();
    font-size: 46px;

    .full-team {
      font-family: $font-boldcnd20obl;
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 40px;
      a {
        position: relative;
        top: -5px;
        display: inline-block;
        color: $color-darkblue;
        border-bottom: 2px solid $color-darkblue;
      }
      &:before {
        content: '+';
        display: inline-block;
        width: 32px;
        height: 32px;
        color: #fff;
        margin-right: 10px;
        font-family: SSStandard;
        text-align: center;
        line-height: 38px;
        background: $color-darkblue;
      }
    }
  }
}
