section#updates {

  background: #E9E9EA;

  .button {
    display: block;
    width: 100%;

    margin-top: 20px;
    padding: 20px 0 40px 16px;

    background-color: $color-darkblue;

    font-size: 18px;
    line-height: 15px;

    &:hover {
      background-color: $color-lightblue;
    }

    &:before {
      position: relative;
      left: -10px;
      top: 8px;
      font-family: "SSSocialRegular";
      vertical-align: middle;
      font-size: 32px;
      -webkit-font-smoothing: antialiased;
    }
    &.facebook:before { content: "\F610"; }
    &.instagram:before { content: "\F641"; }
    &.vimeo:before { content: "\F631"; }
  }

  .update-item {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    font-family: $font-regular;
    font-size: 12px;
    background: #fff;

    .update-meta {
      @include clearfix;

      margin-bottom: 10px;

      i {
        float: left;
        font-size: 32px;
        margin-right: 16px;
      }

      p {
        margin: 0;
      }
    }

    p {
      margin-bottom: 0;
      margin-top: 1em;
      line-height: 16px;
    }

    &:not(.facebook) {
      min-height: 385px;
    }

    &.facebook {
      max-height: 182px;
      overflow: hidden;

      img {
        float: left;
        margin-right: 20px;
      }
    }

    &.vimeo {
      .video-player {
        display: none;
        height: 302px;
        width: 540px;
        overflow: hidden;
        background-color: black;
      }

      .img-wrapper {
        cursor: pointer;
        position: relative;

        &:before {
          position: absolute;

          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          background: rgba(0, 50, 64, 0.5);

          text-align: center;

          font-family: "SSStandard";
          font-size: 64px;
          line-height: 310px;
          color: white;
          content: "\25B6";

          @include transition(all 0.25s ease-in-out);
        }

        &:hover:before {
          font-size: 70px;
          background: rgba(0, 50, 64, 0);
        }
      }
    }

    .time-ago {
      font-family: $font-boldobl;
      font-size: 14px;
      color: #191919;
      margin-top: 2px;
    }

  }
}
