section#updates {

  background: #E9E9EA;

  .update-item {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    font-family: $font-regular;
    font-size: 12px;
    background: #fff;

    .update-meta {
      @include clearfix;

      margin-bottom: 10px;

      i {
        float: left;
        font-size: 32px;
        margin-right: 16px;
      }

      p {
        margin: 0;
      }
    }

    p { line-height: 16px; }

    &.facebook {
      max-height: 182px;
      overflow: hidden;

      img {
        float: left;
        margin-right: 20px;
      }
    }
    .time-ago {
      font-family: $font-boldobl;
      font-size: 14px;
      color: #191919;
      margin-top: 2px;
    }

  }
}