.frontpage {

  .large-input {
    width: 280px;
  }

  .small-button {
    width: 180px;
    height: 45px;
  }

  .large-button {
    width: 180px;
    height: 63px;
    line-height: 40px;
  }

  // Exclude navigation section tag
  section:not(:first-of-type) {
    padding: 40px 0;
    & > .row > h2 {
      @include font-heading();
      font-size: 62px;
      color: $color-lightblue;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}
