.frontpage {

  .large-input {
    width: 330px;
  }

  .small-button {
    width: 210px;
    height: 45px;
  }

  .large-button {
    width: 180px;
    height: 63px;
    line-height: 40px;
  }

  // Exclude navigation section tag
  section:not(:first-of-type) {
    padding: 70px 0;

    & > .row > h2 {
      font-family: $font-heading;
      font-size: 62px;
      color: $color-lightblue;
      margin-bottom: 40px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  section#new-arrival {
    h2 {
      font-family: $font-boldcnd20obl;
      font-size: 24px;
      color: $color-darkblue;
      margin: 0;
      text-transform: uppercase;
    }
    h3 {
      font-family: $font-heading;
      font-size: 96px;
      color: $color-lightblue;
      margin-top: 30px;
      line-height: 48px;
    }
    p {
      font-family: $font-light;
      font-size: 16px;
      line-height: 26px;
      color: #000;
    }
  }
  section#stay-updated {
    color: #fff;
    background: $color-darkblue;

    h3 {
      font-family: $font-heading;
      font-size: 72px;
      color: #fff;
      line-height: 72px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    p {
      font-family: $font-light;
      font-size: 16px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 40px;
    }
    ul {
      font-family: $font-boldcnd20obl;
      font-size: 20px;
      color: #fff;
      list-style: none;
      li {
        line-height: 40px;
        a:before {
          position: relative;
          top: 5px;
          display: inline-block;
          font-family: "SSSocialRegular";
          font-size: 24px;
          width: 30px;
          height: 30px;
          margin-right: 7px;
          text-align: center;
          line-height: 36px;
          color: $color-darkblue;
          background-color: white;
        }

        a.facebook:before { content: '\F610'; }
        a.twitter:before { content: '\F611'; }
        a.tumblr:before { content: '\F620'; }
        a.instagram:before { content: '\F641'; }

        a:hover:before {
          content: '+';
          font-family: SSStandard;
          color: #fff;
          background: $color-lightblue;
        }

        a span {
          color: white;
          border-bottom: 2px solid #fff;
        }
      }
    }
    .email-subscription > div {
      float: left;
      display: inline-block;
      &:nth-child(2) {
        margin-left: 24px;
      }
    }
  }
  section#updates {

    // .columns {
    //   margin-bottom: 25px;
    // }

    .update-item-image {
      position: absolute;
      bottom: 20px;
    }

    .update-1, .update-2, .update-5, .update-7 {
      height: 392px;
    }

    .update-3, .update-6 {
      height: 136px;
    }

    .update-4 {
      height: 236px;
    }

    .update-6 {
      height: 135px;
    }

    .update-6 {
      overflow: hidden;

      .update-meta {
        float: left;
        width: 135px;
      }
      .update-item-image {
        right: 20px;
      }
    }

    .large-8.columns {
      float: left;
    }

    background: #E9E9EA;

    .update-item {
      position: relative;
      padding: 20px;
      margin-top: 20px;
      font-family: $font-regular;
      font-size: 12px;
      background: #fff;

      .update-meta {
        margin-top: -10px;

        p {
          margin: 0;
          line-height: 16px;
        }

        &:before {
          position: absolute;
          top: 20px;
          left: 20px;
          font-family: $icon-font;
          font-size: 32px;
        }
      }

      &.video{
        .update-meta {
          margin-left: 50px;
          &:before {
            content: '\1F4F9';
          }
        }
      }

      &.blog {
        .update-meta {
          margin-left: 40px;
          &:before {
            content: '\1F4C4';
          }
        }
      }

      img {
        display: block;
      }

      .hashtags {
        list-style: none;
        margin: 0;

        li {
          display: inline;
        }
      }

      .time-ago {
        font-family: $font-boldobl;
        font-size: 14px;
        color: #191919;
        margin-top: 2px;
      }

    }
  }

  .last-item {
    height: 236px;
    padding: 20px;
    margin-top: 20px;
    background: #fff;

    h2 {
      font-family: $font-heading;
      font-size: 36px;
      line-height: 36px;
    }
    .item-nav {
      position: absolute;
      bottom: 20px;
      font-family: $font-boldobl;
      font-size: 20px;
      overflow: hidden;
      a {
        span { border-bottom: 2px solid $color-lightblue; }
        text-transform: uppercase;
        &:first-child {
          float: left;
          margin-right: 40px;
          opacity: .25;
          &:before {
            content: '\25C5';
            display: inline-block;
            color: #fff;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            font-family: $icon-font;
            text-align: center;
            line-height: 45px;
            background: #00A4D1;
          }
        }
        &:nth-child(2) {
          float: right;
          &:after {
            content: '\25BB';
            display: inline-block;
            color: #fff;
            width: 40px;
            height: 40px;
            margin-left: 5px;
            font-family: $icon-font;
            text-align: center;
            line-height: 45px;
            background: #00A4D1;
          }
        }
      }
    }
    p {
      font-family: $font-light;
      font-size: 18px;
      color: $color-darkblue;
    }
  }
  section#the-team {
    img {
      display: inline-block;
    }
    .row + .row {
      margin-top: 25px;
    }
    .team-member {
      position: relative;
      color: #fff;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-lightblue;
        opacity: .25;
        z-index: 999;

        @include transition(opacity 0.2s ease-in-out);
      }

      &:hover:before {
        opacity: 0;
      }

      .team-member-info {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 20px;
        z-index: 9999;
        h2 {
          font-family: $font-heading;
          font-size: 46px;
          color: #fff;
          margin: 17px 0 10px;
          line-height: 46px;
        }
        .team-member-country {
          font-family: $font-obl;
          font-size: 24px;
          letter-spacing: -1.2px;
        }
      }
    }
    .see-more {
      font-family: $font-heading;
      font-size: 46px;

      .full-team {
        font-family: $font-boldcnd20obl;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 40px;
        a {
          position: relative;
          top: -5px;
          display: inline-block;
          color: $color-darkblue;
          border-bottom: 2px solid $color-darkblue;
        }
        &:before {
          content: '+';
          display: inline-block;
          width: 32px;
          height: 32px;
          color: #fff;
          margin-right: 10px;
          font-family: SSStandard;
          text-align: center;
          line-height: 38px;
          background: $color-darkblue;
        }
      }
    }
  }
}