.frontpage {

  .large-input {
    width: 330px;
  }

  .small-button {
    width: 210px;
    height: 45px;
  }

  .large-button {
    width: 180px;
    height: 63px;
    line-height: 40px;
  }

  // Exclude navigation section tag
  section:not(:first-of-type) {
    padding: 70px 0;

    & > .row > h2 {
      font-family: $font-heading;
      font-size: 62px;
      color: $color-lightblue;
      margin-bottom: 40px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}