

#gear {
  margin-top: 40px;

  .cat {
    position: relative;
    margin-bottom: 40px;
    height: 280px;

    background: no-repeat 50% 50%;
    background-size: cover;

    &.Boards {
      background-image: url("/assets/gear-boards.jpg");
    }
    &.Bindings {
      background-image: url("/assets/gear-bindings.jpg");
    }
    &.Boots {
      background-image: url("/assets/gear-boots.jpg");
    }

    .content {

      h2 {
        margin-top: 0;
        @include font-heading();
        font-size: 120px;
        color: #fff;

        @include respond-to (small) {
          font-size: 80px;
          text-align: center;
        }
      }

      .button {
        margin: 0;
        width: 240px;
        height: 60px;

        position: absolute;
        right: 20px;
        bottom: 20px;

        font-size: 24px;
        color: $color-darkblue;

        background: #fff;

        @include respond-to (small) {
          width: auto;
          left: 20px;
        }
      }
    }
  }

}