body {
  -webkit-font-smoothing: antialiased;
}

//
// Margin configurations based on which top panels are active
//
#language-bar.open + .searchbar + #nav-container { top: 40px; }
#language-bar.open + .searchbar + #nav-container + section { margin-top: 140px; }
#language-bar.open + .searchbar + #nav-container.sticky + section { margin-top: 100px; }
#language-bar + .searchbar + #nav-container.sticky + section#breadcrumbs { margin-top: 0; top: 60px; }
#language-bar + .searchbar + #nav-container.sticky + section { margin-top: 60px; }
#language-bar + .searchbar + #nav-container.sticky + section#breadcrumbs + section { margin-top: 120px; }


//
//  Clickable-once state for buttons
//
.button.disabled {
  padding-left: 30px;
  padding-right: 30px;
  color: #00637F;

  &:before {
    display: inline-block;
    height: 12px;
    width: 16px;

    margin-right: 7px;

    font-family: "SSStandard";
    font-size: 16px;
    content: "\EB83";

    color: #00637F;

    @include spin;
  }

  &:hover {
    color: #00637F;
  }
}

.button.disable-on-click {
  @include transition(
    all 0.15s ease-in,
    color 0s ease-in
  );
}

//
//  Image hover zoom
//
.img-zoom-hover {
  img {
    @include transition(all 0.2s ease-in-out);
  }

  &.team-member:hover img { @include scale(1.2); }
  &.main-info:hover img { @include scale(1.025); }
  &.nav-team-member:hover img { @include scale(1.1); }
}

#page-header {
  @include clearfix();

  position: relative;
  top: 60px;
  width: 100%;

  background-color: $color-darkblue;

  color: white;
  text-align: center;

  h1 {
    margin-bottom: 30px;
    margin-top: 40px;
    @include font-heading();
    font-size: 64px;
    color: #fff;
    line-height: 72px;
  }

  p {
    font-size: 14px;
    font-family: $font-light;
    line-height: 20px;
    margin-bottom: 2em;
  }

}

#page-header + section {
  padding: 5em 0;
}

input {
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    content: '\2713';
    font-family: $icon-font;
    color: #fff;
    border-radius: 99999px;
    background-color: $color-green;
    z-index: 99999;
  }
  &.dark-input {
    &.input-success {
      border: 2px solid $color-green;
    }
    &.input-error {
      border: 2px solid $color-red-darkbg;
    }
  }

  .tool-tip {
    font-family: $font-light;
    padding: 40px 20px;
  }
}
