section#hero {
  height: 500px;
  margin-top: 100px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000;
  background: url(image-path('hero/bg1.jpg')) top center no-repeat;

  h2 {
    font-family: $font-heading;
    color: #fff;
    div {
      &:first-child {
        font-size: 48px;
      }
      &:nth-child(2) {
        font-size: 24px;
        margin-top: 15px;
      }
      &:nth-child(3) {
        font-size: 144px;
        margin-top: -20px;
      }
    }
  }

  .price {
    font-family: $font-heading;
    font-size: 36px;
    color: #fff;
    margin-top: -30px;
    margin-bottom: 40px;
  }

  .hero-text {
    position: relative;
    top: 190px;
  }


  background: black;
  text-align: center;
  overflow: hidden;

  video {
    cursor: pointer;
    position: relative;
    min-height: 600px;
    margin: 0 auto;
  }

  video.ambient { width: 100%; }

  #play-overlay {
    position: absolute;
    width: 480px;
    left: 50%;
    margin-left: -240px;
    top: -30px;
    z-index: 3001;
    display: none;
    cursor: pointer;
  }

    #video-controls {
      position: absolute;
      top: 600px;
      left: 200px;
      z-index: 3000;
      font-size: 32px;

      a {
        width: 34px;
        height: 34px;
        line-height: 40px;
        text-align: center;
        display: block;
        background-color: white;
        color: $color-darkblue;
        font-size: 26px;

        @include transition(
            color 0.25s ease-in-out,
            opacity 2s ease-in-out
        );

        &:before {
          content: "\1F508";
          font-family: "SSStandard";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &:hover {
          color: $color-lightblue;
          opacity: 1;

          &:before {
            content: "\1F509";
          }
        }

        &.on{
          &:before {
            content: "\1F509";
          }
          opacity: 0.5;
        }
      }

  }

  @include transition(
      margin-top 0.25s ease-in-out,
      height 1.5s ease-in-out
  );
  @include translateZ(0);
}

.sticky + #hero {
  margin-top: 60px;
}

