section#hero {
  height: 680px;
  margin-top: 100px;
  text-transform: uppercase;
  background: url(image-path('hero/bg1.jpg')) top center no-repeat;

  h2 {
    @include font-heading();
    color: #fff;
    div {
      &:first-child {
        font-size: 48px;
      }
      &:nth-child(2) {
        font-size: 24px;
        margin-top: 15px;
      }
      &:nth-child(3) {
        font-size: 144px;
        margin-top: -20px;
      }
    }
  }

  .price {
    @include font-heading();
    font-size: 36px;
    color: #fff;
    margin-top: -30px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .hero-text {
    position: relative;
    top: 190px;
  }

  &.has-video {
    position: relative;

    height: 480px;
    background: url(image-path('hero/freestyle_arsenal.jpg')) center center no-repeat;
    text-align: center;
    overflow: hidden;

    video {
      cursor: pointer;
      position: relative;
      margin: 0 auto;


      @include respond-to(medium) {
        display: none;
      }
    }

    video.ambient {
      min-width: 100%;
      min-height: 480px;
    }

    #play-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      margin: auto;

      max-width: 90%;
      width: 460px;
      height: 420px;

      z-index: 3001;
      display: none;
      cursor: pointer;

      .button {
        margin-top: 40px;
        background: white;
        color: #000;

        &:hover {
          background-color: $color-lightblue;
          color: #fff;
        }
      }
    }

    #video-controls {
      position: absolute;
      top: 600px;
      left: 200px;
      z-index: 3000;
      font-size: 32px;

      a {
        width: 34px;
        height: 34px;
        line-height: 40px;
        text-align: center;
        display: block;
        background-color: white;
        color: $color-darkblue;
        font-size: 26px;

        @include transition(
            color 0.25s ease-in-out,
            opacity 2s ease-in-out
        );

        &:before {
          content: "\1F508";
          font-family: "SSStandard";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &:hover {
          color: $color-lightblue;
          opacity: 1;

          &:before {
            content: "\1F509";
          }
        }

        &.on{
          &:before {
            content: "\1F509";
          }
          opacity: 0.5;
        }
      }
    }
  }

  @include transition(
      margin-top 0.25s ease-in-out,
      height 1.5s ease-in-out
  );
  @include translateZ(0);

  .sticky + #main-wrap > & {
    margin-top: 60px;
  }
}

