/*
  Top Navigation
*/


#nav-container {
  @include clearfix();

  position: fixed;
  top: 0;
  left: 0;

  @include respond-to(mobile) { position: absolute; }
  @include respond-to(medium) { position: absolute; }

  z-index: 1020;

  width: 100%;

  .top-bar { background: rgba(255,255,255,0.90); }

  @include transition(padding-top 0.25s ease-in-out);

  @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.15));

  @include translateZ(0);

  .has-dropdown {
    &.open {
      ul.dropdown {
        top: 100px;
      }
    }

    ul.dropdown {
      width: 180px;
      z-index: -1;

      padding-top: 10px;
      background: transparent;

      li a {
        background: $color-lightblue;


        font-family: $font-boldcnd20;
        font-size: 24px;
        line-height: 48px;
        text-transform: uppercase;

        &:hover {
          background: darken($color-lightblue, 4%);
        }
      }

      &:before {
        @include css-triangle(10px, $color-lightblue, bottom);
        position: absolute;
        top: -10px;
        left: 40px;
        z-index: 99;
      }
    }
  }
  &.sticky {
    .has-dropdown.open {
      ul.dropdown {
        top: 60px;
      }
    }
  }

  a.logo {
    display: block;

    width: 100%;
    height: 100px;
    background: inline-image('layout/salomon_snowboards-logo-dark@2x.png') center center no-repeat;
    background-size: 136px 40px;

    text-indent: -9999px;

    &:hover {
      background: inline-image('layout/salomon_snowboards-logo-white@2x.png') center center no-repeat;
      background-size: 136px 40px;
    }

    @include transition(
      top 0.25s ease-in-out,
      height 0.25s ease-in-out
    );
  }

  ul.left, ul.right {
    background: transparent;

    li.open > a {
      background: $color-lightblue;
      color: white;
    }

    & > li > a {
      background: transparent;
      color: $color-darkblue;
      line-height: 100px;

      &.no-link {
        cursor: default;
      }

      &:hover {
        background: $color-lightblue;
        color: white;
      }

      &.active {
        background: $color-darkblue;
        color: #fff;
      }

      @include transition(
          line-height 0.25s ease-in-out,
          font-size 0.25s ease-in-out,
          padding 0.25s ease-in-out
      );
    }

    &.left {

      & > li > a {
        font-size: 24px;
        text-transform: uppercase;
        font-family: $font-boldcnd20obl;
      }
    }
  }

  ul.right {
    margin-right: 10px;

    font-family: $font-boldcnd18;
    text-transform: uppercase;

    li > a {
      font-size: 16px;
    }

    li.basket {
      margin-right: 10px;
    }

    li.social {
      & > a {
        width: 34px;
        height: 34px;

        margin-right: 10px;
        margin-top: 34px;
        padding: 0;

        background-color: $color-darkblue;

        font-family: "SSSocialRegular";
        text-transform: none;
        font-size: 16px;
        line-height: 38px;
        color: white;
        text-align: center;

        @include transition(margin-top 0.25s ease-in-out);

        &:hover {
          background-color: $color-lightblue;
        }
      }
    }

    iframe { display: none; }

    li.open {
      & > a {
        background-color: $color-lightblue;
        color: white;
      }

      iframe { display: block; }
    }

    .dropdown {
      padding-top: 10px;
      text-align: center;

      .dropdown-inner {
        border: 10px $color-lightblue solid;
        padding: 10px;
        background-color: white;
      }

      &:before {
        @include css-triangle(10px, $color-lightblue, bottom);
        position: absolute;
        top: -10px;

        z-index: 99;
      }

      &.facebook {
        left: -120px;
        width: 270px;

        &:before { left: 125px; }
      }

      &.twitter {
        left: -89px;
        width: 123px;

        iframe {
          width: 80px !important;
          margin: 0 auto;
        }

        &:before { left: 96px; }
      }

      &.pinterest {
        width: 210px;
        right: 10px;

        .dropdown-inner {
          a {
            vertical-align: 10% !important;
          }
        }

        &:before { right: 8px; }

      }

    }
  }

  ul.title-area {
    height: 100px;
    width: 174px;
    margin-right: 0;
    float: left;

    &:hover {
      background-color: $color-lightblue;
    }

    li {
      width: 100%;
    }

  }

  &.sticky {
    height: 60px;

    a.logo {
      height: 60px;
      top: 10px;
    }

    ul.title-area {
    height: 60px;
    }

    ul li a {
      line-height: 60px;
    }

    ul.right li.social a {
      margin-top: 13px;
    }
  }

  @include transition(
      height 0.25s ease-in-out,
      top 0.25s ease-in-out
  );

  @include transition(
      top 0.25s ease-in-out,
      padding-top 0.25s ease-in-out
  );
}
