section#main {
  padding-top: 100px;
}

section.panel {
  padding: 2.5em 0;

  .row {
    margin-bottom: 2.5em;
  }

  h2 {
    font-family: $font-heading;
    text-transform: uppercase;
  }
}

.gray {
  background-color: #D8D8D8;
}
