/* Product related */

ul {
  list-style: none;
}

.product-details {
  h1 {
    font-family: $font-heading;
    font-size: 72px;
    color: $color-lightblue;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  p.product-description {
    font-family: $font-light;
    margin-bottom: 40px;
  }

  .product-thumbnails {
    margin-top: 1em;

    ul {
      list-style: none;
      text-align: center;

      li {
        width: 80px;
        display: inline-block;
        margin-right: 20px;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .img-wrapper {
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: rgba(7, 46, 53, 0.5);
      }
    }

    li.active {
      opacity: 0.25;
    }

    img {
      width: 80px;
      height: 80px;
      margin-bottom: .5em;
    }

    a {
      font-family: $font-boldcnd20obl;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: $color-darkblue;
    }
  }

  p.product-model {
    color: #9B9B9B;
    font-size: 12px;
    margin-bottom: 25px;
    font-family: $font-boldcnd20;
  }

  ul.product-meta {
    @include clearfix();

    clear: both;
    margin-bottom: 25px;

    list-style: none;

    & > li {
      display: inline;
      float: left;
    }

    & > li:first-child {
      width: 80px;

      font-family: $font-boldcnd20;
      font-size: 18px;
      line-height: 44px;
      text-transform: uppercase;
    }

    input[type="text"] {
      width: 60px;
      height: 40px;
      margin-right: 10px;
    }
  }

  ul.product-color {

    li:nth-child(n+2) {
      margin-right: 10px;

      img {
        width: 45px;
        height: 45px;
      }

      &:hover {
        @include scale(50/44);
      }

      &.selected {
        @include scale(50/44);

        &:before {
          display: block;
          position: absolute;

          top: 2px;
          left: 2px;

          width: 20px;
          height: 20px;

          background-color: $color-lightblue;

          color: white;
          font-family: "SSStandard";
          font-size: 12px;
          line-height: 26px;
          text-align: center;

          content: "\2713";
        }
      }

      a {
        display: block;
        width: 44px;
        height: 44px;

        @include transition(all 0.1s ease-in-out);
      }
    }
  }
}


ul.riders {
  list-style: none;
  li + li {
    margin-top: 8px;
  }
  li {
    font-family: $font-boldobl;
    font-size: 20px;
    color: $color-darkblue;
    text-transform: uppercase;
    &:before {
      content: '\1F464';
      display: inline-block;
      width: 30px;
      height: 30px;
      font-family: $icon-font;
      font-size: 16px;
      color: $color-darkblue;
      line-height: 34px;
      text-align: center;
      margin: 0 10px 0 0;
      background-color: #fff;
    }
    &:last-child {
      &:before {
        content: '\1F465';
      }
    }
    &:hover {
      &:before {
        color: #fff;
        background-color: $color-darkblue;
      }
    }
  }
}

.more-images {
  line-height: 36px;
  a {
    color: $color-darkblue;
  }
  & div:before {
    content: '\1F304';
    display: inline-block;
    width: 30px;
    height: 30px;
    font-family: $icon-font;
    color: #fff;
    text-align: center;
    background-color: $color-darkblue
  }
  float: right;
  display: inline;
  font-family: $font-boldobl;
  font-size: 20px;
  color: $color-darkblue;
  text-transform: uppercase;
  span {
    position: relative;
    top: -6px;
    border-bottom: 3px solid $color-darkblue;
  }
  margin-top: 20px;
}

section#tech {
  background-image: url(image-path('fixme-product-tech-bg.png'));

  h2 {
    font-size: 72px;
    color: #fff;
    text-align: center;
  }

  .sizes {
    h2 {
      font-size: 48px;
      margin: 0;
    }
  }


  ul.size-list {
    font-family: $font-heading;
    font-size: 48px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    h4 {
      display: inline-block;
      font-family: $font-heading;
      font-size: 36px;
      color: #fff;
    }
    li {
      display: inline;
    }
  }

  ul.tech-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
        -ms-column-count: 2;
            column-count: 2;

    list-style: none;
    li + li {
      margin-top: 4px;
    }
    li {
      font-size: 24px;
      height: 60px;
      background-color: #023A4A;
      i {
        display: inline-block;
        width: 40px;
        height: 40px;
        color: $color-darkblue;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        background-color: #fff;
      }
      span:first-of-type {
        font-family: $font-boldobl;
        color: #fff;
      }
      span:last-of-type {
        font-family: $font-boldcnd20;
        color: $color-lightblue;
      }
      padding: 10px;
      text-transform: uppercase;
    }
  }

  ul.tech-stats {
    font-family: $font-boldcnd20;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-transform: uppercase;
    list-style: none;
    li {
      span {
        cursor: pointer;
        &:first-child {
          display: inline-block;
          width: 190px;
        }
      }
    }
  }
}

.technical-drawing {
  position: relative;
  margin-top: 50px;
  .technical-value {
    position: absolute;
    top: -25px; right: 0; bottom: 0; left: 0;
    margin: auto;
    height: 50px;
    font-family: $font-boldcnd20obl;
    font-size: 28px;
    color: $color-lightblue;
    text-align: center;
  }
  .technical-demonstration {
    .technical-indicator {
      &:before {
        content: '';
        position: absolute;
        top: -18px;
        left: 0;
        width: 4px;
        height: 40px;
        background-color: $color-lightblue;
      }
      &:after {
        content: '';
        position: absolute;
        top: -18px;
        right: 0;
        width: 4px;
        height: 40px;
        background-color: $color-lightblue;
      }
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      margin: auto;
      width: 50%;
      height: 4px;
      background-color: $color-lightblue;
    }
  }
}
