/* Product related */

.selected a {
  cursor: default;
}

ul {
  list-style: none;
}


.product-details {
  h1 {
    @include font-heading();
    font-size: 72px;
    color: $color-lightblue;
    margin-bottom: 0;
    line-height: 1;
  }

  h1 + span {
    font-family: $font-boldcnd20;
    text-transform: uppercase;
    color: #9b9b9b;
  }

  h2 {
    font-size: 34px;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  p.product-description {
    font-family: $font-light;
    margin-bottom: 40px;
  }

  .product-main-image {
    text-align: center;
    width: 580px;
    height: 500px;
  }

  .product-thumbnails {
    margin-top: 1em;

    ul {
      list-style: none;
      text-align: center;

      li {
        width: 80px;
        display: inline-block;
        margin-right: 20px;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .overlay-wrapper {
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: rgba(7, 46, 53, 0.5);
      }
    }

    li.active {
      opacity: 0.25;
      .overlay-wrapper {
        cursor: auto;
      }
    }

    img {
      width: 80px;
      height: 80px;
      margin-bottom: .5em;
    }

    a {
      font-family: $font-boldcnd20obl;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      color: $color-darkblue;
    }
  }

  .product-model {
    padding: 8px;
    margin-bottom: 25px;

    background-color: #E9E9EA;

    color: #9B9B9B;
    font-size: 12px;
    font-family: $font-boldcnd20;

    i { font-style: normal; }
    i.blue { color: $color-lightblue;}

    .ss-icon { vertical-align: middle; }


    .social {
      position: relative;
      top: -2px;
      float: right;
      width: 140px;
      text-align: right;
    }
  }

  section#product-list {
    h2 {
      @include font-heading();
      font-size: 72px;
      text-align: center;
    }

    .row {
      text-align: center;
    }
    .columns {
      display: inline-block;
      float: none;
    }
  }

}

.product-meta {
  @include clearfix();

  clear: both;
  margin-bottom: 10px;

  h5 {
    float: left;
    display: inline-block;
    width: 80px;

    font-family: $font-boldcnd20;
    font-size: 18px;
    line-height: 44px;
    text-transform: uppercase;
  }

  .dropdown { float: left; }
  input, .button { display: inline-block; float: left; }

  input[type="text"] {
    width: 60px;
    height: 40px;
    margin-right: 10px;
  }

  ul.product-thumbs {
    float: left;
    display: inline-block;
  }
}

#product-list ul.product-thumbs {
  max-width: 190px;
  margin: 20px auto 12px auto;
  text-align: center;

  li {
    width: auto;
    height: 30px;

    a {
      width: auto;
    }

    img {
      width: 25px;
      height: 25px;
      padding: 2px;
      border: 2px #D8D8D8 solid;

      &:hover {
        border: 2px $color-lightblue solid;
      }
    }

    &.selected {
      img {
        width: 30px;
        height: 30px;
        padding: 2px;
        border: 2px $color-lightblue solid;
      }
    }

    &:before {
      display: none;
    }

    a.button {
      height: 20px;
      padding: 0 2px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      background-color: #D8D8D8;
      vertical-align: middle;

      &:hover {
        background-color: $color-lightblue;
      }

    }

    &.selected a.button {
      background-color: $color-lightblue;
      color: white;
      font-size: 14px;
    }

  }


}

ul.product-thumbs {
  @include clearfix();

  list-style: none;

  li {
    display: inline-block;

    margin-right: 7px;
    &:last-child {
      margin-right: 0;
    }

    img {
      width: 45px;
      height: 45px;
    }

    &:hover {
      @include scale(50/44);
    }

    &.selected {
      @include scale(50/44);

      &:before {
        display: none;
        position: absolute;

        top: 2px;
        left: 2px;

        width: 20px;
        height: 20px;

        background-color: $color-lightblue;

        color: white;
        font-family: "SSStandard";
        font-size: 12px;
        line-height: 26px;
        text-align: center;

        content: "\2713";
      }
    }

    a {
      display: inline-block;
      width: 44px;

      text-align: center;
      font-size: 14px;
      font-family: $font-boldcnd20;
      color: $color-darkblue;

      @include transition(all 0.1s ease-in-out);
    }
  }
}


ul.riders {
  list-style: none;
  li + li {
    margin-top: 8px;
  }
  li {
    font-family: $font-boldobl;
    font-size: 20px;
    text-transform: uppercase;

    a {
      color: $color-darkblue;

      &:before {
        content: '\1F464';
        display: inline-block;
        width: 30px;
        height: 30px;
        font-family: $icon-font;
        font-size: 16px;
        color: $color-darkblue;
        line-height: 34px;
        text-align: center;
        margin: 0 10px 0 0;
        background-color: #fff;
      }

      &:hover {
        &:before {
          color: #fff;
          background-color: $color-darkblue;
        }
      }
    }
    &.more-riders {
      &:before {
        content: '\1F465';
      }
    }

  }
}

.more-images {
  line-height: 36px;
  a {
    color: $color-darkblue;
  }
  & div:before {
    content: '\1F304';
    display: inline-block;
    width: 30px;
    height: 30px;
    font-family: $icon-font;
    color: #fff;
    text-align: center;
    background-color: $color-darkblue
  }
  float: right;
  display: inline;
  font-family: $font-boldobl;
  font-size: 20px;
  color: $color-darkblue;
  text-transform: uppercase;
  span {
    position: relative;
    top: -6px;
    border-bottom: 3px solid $color-darkblue;
  }
  margin-top: 20px;
}

section#tech {
  background-image: url(image-path('fixme-product-tech-bg.png'));

  h2 {
    font-size: 72px;
    color: #fff;
    text-align: center;
  }

  .sizes {
    h2 {
      font-size: 48px;
      margin: 0;
    }
  }


  ul.size-list {
    @include font-heading();
    font-size: 48px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    h4 {
      display: inline-block;
      @include font-heading();
      font-size: 36px;
      color: #fff;
    }
    li {
      display: inline;
      &:after {
        content: '';
        @include spin;
      }
    }
  }

  @import "product-tech";
}

.technical-drawing {
  position: relative;
  margin-top: 50px;
  .technical-value {
    position: absolute;
    top: -25px; right: 0; bottom: 0; left: 0;
    margin: auto;
    height: 50px;
    font-family: $font-boldcnd20obl;
    font-size: 28px;
    color: $color-lightblue;
    text-align: center;
  }
  .technical-demonstration {
    .technical-indicator {
      &:before {
        content: '';
        position: absolute;
        top: -18px;
        left: 0;
        width: 4px;
        height: 40px;
        background-color: $color-lightblue;
      }
      &:after {
        content: '';
        position: absolute;
        top: -18px;
        right: 0;
        width: 4px;
        height: 40px;
        background-color: $color-lightblue;
      }
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      margin: auto;
      width: 50%;
      height: 4px;
      background-color: $color-lightblue;
    }
  }
}
