$base: #003240;

i {
  font-family: $icon-font;
}

#product-list {

  min-height: 500px;

  .notfound {
    display: none;
  }

  .lastproduct {
    opacity: 0;
    @include transition(all 0.5s ease-in-out);
    &.activated {
      opacity: 1;
      @include transition-delay(1s);
    }
  }

  &.fail {
    .lastproduct { display: none !important; }
    .notfound { display: block; }
  }

  .mix {
    display: none;
    opacity: 0;
  }

  .product {
    margin-bottom: 2em;

    min-height: 450px;
    &.snowboard { min-height: 650px; }

    font-family: 'TradeGothicW01-BoldCn20 675334';
    color: $base;
    text-transform: uppercase;

    cursor: pointer;

    & > img {
      max-width: emCalc(180);
      margin-bottom: 22px;
      max-height: 300px;
    }

    .main-info {
      text-align: center;

      h2 {
        @include font-heading();
        color: $color-lightblue;
        font-size: 36px;
        margin: 10px 0;
        line-height: 1;

        &.long {
          font-size: 28px;
          line-height: 36px;
        }
      }

      .model {
        font-family: "Trade Gothic W01 Cn 18";
        font-size: 10px;
        color: #bbcccf;
        margin: 2px 0 7px;
        text-transform: none;
      }

      .price {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    .more-info {
      font-size: 14px;
      text-align: center;

      h5 {
        display: inline;
        margin: 0;
        font-size: 14px;
        color: #9B9B9B;
      }

      ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none
      }

      li {
        display: inline;
      }

      div + div {
        margin-top: 4px;
      }

    }



    &.last {
      position: relative;
      min-height: 570px;
      padding: 20px;
      background: #ebebec;

      .clear-filters {
        display: none;
      }

      h2 {
        @include font-heading();
        font-size: 24px;
        color: $color-lightblue;
        line-height: 32px;
      }

      .message {
        font-family: $font-light;
        color: $color-darkblue;
        line-height: 1.6;
        text-transform: none;
      }

      ul.links {
        position: absolute;
        bottom: 0;
        font-family: $font-boldobl;
        list-style: none;

        a {
          font-size: 20px;
          color: $color-darkblue;
          border-bottom: 3px solid $color-darkblue;
          line-height: 40px;
        }

        li:before {
          display: inline-block;
          width: 35px;
          height: 35px;
          margin-right: 10px;
          font-family: $icon-font;
          font-size: 24px;
          color: #fff;
          text-align: center;
          line-height: 42px;
          vertical-align: middle;
          background: $color-darkblue;
        }

        li:hover {
          a {
            color: $color-lightblue;
            border-color: $color-lightblue;
          }
        }

        li:hover:before { background-color: $color-lightblue; }

        li:nth-child(1):before {
          content: "\2713";
        }

        li:nth-child(2):before {
          content: "\2421";
        }
        li:nth-child(3):before {
          content: "\2B05";
        }
      }
    }
  }
}
