
#storelocator {



  #map-canvas {
    margin-top: 60px;

    width: 100%;
    height: 600px;
    img {
      max-width: none !important;
    }
  }

  #map-search-overlay {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 600px;

    background: rgba(0,50,64,0.85);

    @include transition(all 0.4s ease-in-out);

    .searchform {
      @include clearfix();
    }

    .overlay-inner {
      width: 450px;
      margin: 6em auto 0 auto;

      color: white;
      text-align: center;

      h1 {
        @include font-heading();
        font-size: 72px;
        color: white;
      }

      p {
        font-family: $font-boldcnd20;
        font-size: 18px;
        text-transform: uppercase;
      }

      a {
        color: white;
      }

      .separator {
        padding: 0 5px;
      }
    }

    ol#results {
      display: none;
    }

    &.compact {
      top: 90px;
      left: 100px;

      width: 380px;
      height: 480px;

      background: rgba(255,255,255,0.90);
      @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.15));

      ol#results {
        display: block;
        height: 420px;

        margin-top: 10px;
        margin-bottom: 0;

        overflow-y: scroll;

        list-style: none;

        font-family: $font-boldcnd20;

        counter-reset: num;

        li {
          position: relative;
          padding: 1em 0 1em 60px;

          border-bottom-width: 1px;
          border-top-width: 1px;
          border-color: #E9E9EA;

          cursor: pointer;

          &.highlight {
            background: #E9E9EA;
          }

          &:before {
            content: counter(num, decimal);
            counter-increment:num 1;

            position: absolute;
            left: 18px;
            text-align: center;
            vertical-align: top;

            color: $color-lightblue;
            font-size: 48px;
            line-height: 1;
          }
        }


        h4 {
          margin-top: 0;
          margin-bottom: 10px;
          line-height: 1;

          text-transform: uppercase;
          font-size: 20px;
        }

        p {
          margin: 0;

          font-size: 14px;
          color: #9B9B9B;

          a {
            color: $color-lightblue;
          }
        }



      }

      .overlay-inner {
        width: 100%;
        margin: 0;
        padding: 10px;
        text-align: left;
        color: $color-darkblue;
        h1 {
          display: none;
        }

        input {
          margin-bottom: 0;
          font-size: 18px;
          height: 40px;
        }
        input[type="text"] {
          width: 245px;
          margin-right: 10px;
        }
        input[type="text"], input[type="submit"] {
          float: left;
        }
      }

      .intro {
        display: none;
      }
    }
  }


  .online-retailers {
    background-color: #E9E9EA;
    padding-top: 3em;


    h2 {
      @include font-heading();
      font-size: 72px;
      color: $color-lightblue;
      text-align: center;
    }

    .retailer {
      position: relative;
      background-color: white;
      text-align: center;
      min-height: 150px;

      img {
        margin: 1em 0;
      }

      p:last-child {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;

        a {
          font-family: $font-boldcnd20obl;
          font-size: 14px;
          color: $color-darkblue;

          &:before {
            position: relative;
            top: 3px;
            margin-right: 3px;


            font-family: "SSStandard";
            font-size: 18px;
            color: $color-darkblue;

            content: "link";

          }
        }
      }
    }

  }

}
