body.team {

  .team-header {
    padding: 40px 0px;
    text-align: center;
    h1 {
      margin: 0 0 10px;
      font-family: $font-heading;
      font-size: 64px;
      color: #fff;
      text-transform: uppercase;
      line-height: 72px;
    }
    h4 {
      margin-top: 40px;
      font-family: $font-heading;
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
    }
    p {
      width: 780px;
      margin: 0 auto;
      font-family: $font-regular;
      font-size: 14px;
      color: #fff;
      line-height: 20px;
    }
    .category-switches {
      .current-category {
        padding: 15px 20px;
        background-color: $color-lightblue;
      }
      h2 {
        color: #fff;
        text-align: center;
      }
      ul {
        li {
          & + li { margin-left: 5px; }
          display: inline;
          font-family: $font-boldcnd20;
          font-size: 14px;
          color: #fff;
          padding: 10px 20px;
          background-color: #00637F;
          text-transform: uppercase;
          cursor: pointer;
          @include transition(all 0.25s ease-in-out);
          &:hover {
            padding: 15px 20px;
          }
        }
      }
    }
    background-color: $color-darkblue;
  }

  section#the-pros, section#the-ams {
    padding: 70px 0;
    background-color: #fff;

    & > .row > h2 {
      &:first-child { margin-top: 80px; }
      @include font-heading();
      font-size: 72px;
      color: $color-darkblue;
      letter-spacing: -1px;
      line-height: 50px;
      text-align: center;
    }
  }

  ul + h2 {
    margin-top: 100px;
  }

  margin-top: 60px;
  .row + .row {
    margin-top: 25px;
  }
  .team-member {
    position: relative;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;

    a {
      color: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-darkblue;
      opacity: .5;
      z-index: 999;
      @include transition(all 0.25s ease-in-out);
    }
    &:hover:before {
      opacity: 0;
    }
    .team-member-info {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 20px;
      z-index: 1000;
      h2 {
        @include font-heading();
        font-size: 46px;
        color: $color-darkblue;
        margin: 17px 0 10px;
        line-height: 46px;
      }
      .team-member-country {
        font-family: $font-obl;
        font-size: 24px;
        color: #fff;
        letter-spacing: -1.2px;
      }
    }
  }
}
