- content_for :navclass do
  sticky

- content_for :javascript_pre do
  = javascript_include_tag 'mustache'

%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
%section#storelocator
  #map-canvas
  #map-search-overlay
    .overlay-inner
      %h1 Find a Store
      .searchform
        %form
          %input#searchBox{:type=>'text', :placeholder=>'Find a City, State or Zip Code', :autocomplete=>'off'}
          %input.button.search{:type=>'submit', :value=>'Search'}

      .state-intro
        %p
          %em or

        %p
          %a{:href=>'#retailers'} Online Retailers

      .state-searching
        .loading

      .state-notfound
        %h3 No stores found
        %p Try searching again or check out one of our <a href="#retailers">online retailers</a>.

      %ol#results

  %section.online-retailers#retailers
    %h2 Online retailers
    .row.js-equalize
      - @online_store_categories.each do |category|
        - category.online_stores.each do |store|
          .large-2.columns.js-equalize-me
            .retailer
              %p
                %a{:href=>"#{store.url}"}
                  =cl_image_tag store.img, :width => '160', :crop => 'fit', :alt => store.name
              %p
                %a{:href=>"#{store.url}"} Visit Website
