- content_for :navclass do
  sticky

%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}

%section#storelocator
  #map-canvas
  #map-search-overlay
    .overlay-inner
      %h1 Find a Store

      %form
        %input{:type=>'text', :placeholder=>'Find a City, State or Zip Code'}
        %input.button.search{:type=>'submit', :value=>'Search'}

      %p
        %em or

      %p
        %a{} Browse the map
        %span.separator
          |
        %a{} Online Retailers

  %section.online-retailers
    %h2 Online retailers

    .row
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/backcountry.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hawaiisurf.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hotzone.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/moreboards.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/planetsports.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/rei.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/backcountry.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hawaiisurf.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hotzone.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/rei.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/planetsports.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/backcountry.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hawaiisurf.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hotzone.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/moreboards.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/planetsports.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/rei.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/backcountry.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hawaiisurf.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hotzone.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/rei.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/planetsports.png'}
          %p
            %a{:href=>''} Visit Website

      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/backcountry.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hawaiisurf.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hotzone.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/moreboards.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/planetsports.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/rei.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/backcountry.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hawaiisurf.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hotzone.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/rei.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/planetsports.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/hotzone.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/rei.png'}
          %p
            %a{:href=>''} Visit Website
      .large-2.columns
        .retailer
          %p
            %a{:href=>''}
              %img{:src=>'img/retailers/planetsports.png'}
          %p
            %a{:href=>''} Visit Website