- content_for :navclass do
  sticky

%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
%section#storelocator
  #map-canvas
  #map-search-overlay
    .overlay-inner
      %h1 Find a Store

      .searchform
        %form
          %input{:type=>'text', :placeholder=>'Find a City, State or Zip Code'}
          %input.button.search{:type=>'submit', :value=>'Search'}

      .intro
        %p
          %em or

        %p
          %a{} Browse the map
          %span.separator
            |
          %a{} Online Retailers

      // %ul#results
      //  %li
      //    %h4 Ellis brigham
      //    %p TOWER HOUSE, 3-11 SOUTHAMPTON STREET
      //    %p LONDON WC2E 7HA
      //    %p 0207 3951010



  %section.online-retailers
    %h2 Online retailers
    .row
      - @online_store_categories.each do |category|
        - category.online_stores.each do |store|
          .large-2.columns
            .retailer
              %p
                %a{:href=>"#{store.url}"}
                  =cl_image_tag store.img, :width => '160', :crop => 'fit', :alt => store.name
              %p
                %a{:href=>"#{store.url}"} Visit Website
